CREATE TABLE [dbo].[Cidade](
	[CodigoCidade] [int] NOT NULL,
	[NomeCidade] [varchar](200) NOT NULL,
	[CodigoEstado] [int] NOT NULL,
 CONSTRAINT [PK_Cidade] PRIMARY KEY CLUSTERED 
(
	[CodigoCidade] ASC
)
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[Estado](
	[CodigoEstado] [int] NOT NULL,
	[NomeEstado] [varchar](100) NOT NULL,
	[UFEstado] [varchar](4) NOT NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[CodigoEstado] ASC
)
) ON [PRIMARY]

GO

INSERT [dbo].[Estado] ([CodigoEstado], [NomeEstado], [UFEstado]) VALUES (1, N'Acre', N'AC')
INSERT [dbo].[Estado] ([CodigoEstado], [NomeEstado], [UFEstado]) VALUES (2, N'Alagoas', N'AL')
INSERT [dbo].[Estado] ([CodigoEstado], [NomeEstado], [UFEstado]) VALUES (3, N'Amazonas', N'AM')
GO
INSERT [dbo].[Cidade] ([CodigoCidade], [NomeCidade], [CodigoEstado]) VALUES (1, N'Afonso Cláudio', 8)
INSERT [dbo].[Cidade] ([CodigoCidade], [NomeCidade], [CodigoEstado]) VALUES (2, N'Água Doce do Norte', 8)
INSERT [dbo].[Cidade] ([CodigoCidade], [NomeCidade], [CodigoEstado]) VALUES (3, N'Águia Branca', 8)
GO
ALTER TABLE [dbo].[Cidade]  WITH CHECK ADD  CONSTRAINT [FK_Cidade_Estado] FOREIGN KEY([CodigoEstado])
REFERENCES [dbo].[Estado] ([CodigoEstado])
GO
ALTER TABLE [dbo].[Cidade] CHECK CONSTRAINT [FK_Cidade_Estado]
GO
